{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}New coach{% endblock %}

{% block body %}

    <form action="{{ path('app_coach_new') }}" method="post" onsubmit="return confirm('Are you sure you want to add this coach?')">
 
    {{ include('coach/_form.html.twig') }}

</form>


{% endblock %}
